@use "../abstracts" as *;

h1 {
    color: $black;
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;
    font-size: px-to-rem(8);
    line-height: 1;
}

p {
    font-size: px-to-rem(3.5);
}
